# Java/Spring
target/
*.jar
.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/

# Go
/bin/
/pkg/
*.exe

# Databases
*.db
*.sqlite

# Docker
*.log
docker-compose.override.yml

# IDE
.idea/
*.swp
.vscode/settings.json

# OS
.DS_Store
Thumbs.db